{% extends 'base.html' %}



{% block content %}
    {% include 'head.html' with bootstrap=True %}
    
    {% if appuser.profile.profile_picture  %}
        <img src="{{ appuser.profile.profile_picture.url}}">
    {% else %}
        <h3> no pic</h3>
    {% endif %}
    <h3>{{ appuser.email }}</h3>
    <h3>{{ appuser.profile.get_full_name }}</h3>
    <h3>{{ appuser.profile.club }}</h3>
    <h3>{{ appuser.profile.license }}</h3>
    <a href="{% url 'edit' request.user.pk %}">Редактирай</a>
    
    
{% endblock %}