{% extends 'base.html' %}



{% block content %}
    {% include 'head.html' with bootstrap=True %}

    <div class="d-flex flex-column justify-content-center align-items-center">
        <section id="profile-details" class="d-flex flex-column justify-content-center align-items-center p-2 m-5">
            <form id="profile-edit-form" class="d-flex flex-column justify-content-center" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <img id="profile-edit-profile-picture" src="{{ appuser.profile.profile_picture.url }}">
                <h5>Профилна снимка: {{ form.profile_picture }}</h5>
                {% if form.profile_picture.errors %}
                    <ul class="text-danger">
                        {% for error in form.profile_picture.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h5>Име: {{ form.first_name }}</h5>
                <h5>Фамилия: {{ form.last_name }}</h5>
                <h5>Клуб: {{ form.club }}</h5>
                <img id="profile-edit-club-emblem" src="{{ appuser.profile.club_emblem.url }}">
                <h5>Клубна емблема: {{ form.club_emblem }}</h5>
                {% if form.club_emblem.errors %}
                    <ul class="text-danger">
                        {% for error in form.club_emblem.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h5>Отбор/Набор: </h5>
                <div class="team-generation-choices">
                    {% for radio in form.team_generation_choice %}
                        <div class="form-check fs-4 form-check-inline">
                            {{ radio }}
                        </div>
                    {% endfor %}
                </div>
            
                <h5>Отбор/Набор: {{ form.team_generation }}</h5>
                <h5>Лиценз: {{ form.license }}</h5>
                <div class="d-flex justify-content-center">
                    <button class="btn px-2 py-2 m-2 btn-primary text-center ">Редакция</button>
                </div>
            </form>

        </section>
    </div>


{% endblock %}