{% autoescape off %}
    {% if user.profile.get_full_name %}
        Здравей, {{ user.profile.get_full_name }},
    {% else %}
        Здравей,
    {% endif %}
    Заявихте възстановяване  на парола за вашия акаунт. Кликнете на линка по-долу, за да възстановите паролата си:

    You requested a password reset for your account. Click the link below to reset your password:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Ако не сте направили това искане, моля, игнорирайте този имейл.

    Благодарим ви,
    Екипът на Football-schedule
{% endautoescape %}
