{% extends 'base.html' %}
{% block content %}
    {% include 'head.html' with bootstrap=True %}
    
     <div class="d-flex flex-column justify-content-center align-items-center">
        <section class="reset-password d-flex flex-column justify-content-center align-items-center p-2 m-5">
            <form  class="d-flex flex-column justify-content-center" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="text-center">Имейл</h3>
                {{ form.email }}
                <button class="btn px-2 py-2 m-3 btn-primary text-center ">Изпрати линк</button>
            </form>
        </section>
     </div>
    
{% endblock %}