{% extends 'base.html' %}
{% block content %}
    {% include 'head.html' with bootstrap=True %}
    
    <div class="d-flex flex-column justify-content-center align-items-center">
        <section class="reset-password d-flex flex-column justify-content-center align-items-center p-2 m-5">
            <h2>Нулирането на паролата е успешно</h2>
            <p>Вашата парола беше успешно нулирана. Вече може да влезнете с новата си парола.</p>
        </section>
     </div>
    
    

    
{% endblock %}