
section#create-schedule{
    color: grey;
}

section#create-schedule h4{
    color:black;
}


body.loading {
    cursor: progress !important;
}

.numbered-list {
    list-style-type: decimal !important;
    font-weight: bold;
}

.numbered-list li {
    display: list-item !important;
    color: black;

}

.numbered-list a {
    color: black;
}

.numbered-list a:hover {
    color: blue;
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 30px;
}

ul li::before {
    content: "⚽";
    position: absolute;
    left: 0;
    filter: grayscale(100%);
}

.instruction-image {
    width: auto;
    height: 300px;
     border-radius: 10px;
}

.download-template-image {
    width: auto;
    height: 400px;
     border-radius: 10px;
}