<header>
    <nav class="d-flex justify-content-between p-4">
        <div class=" p-2 nav-image">
        </div>

        <div class=" nav-schedule">
            <a class="text-decoration-none" href="{% url 'create-schedule' %}">Създай графикa</a>
        </div>

        <div class="nav-profile">
            {% if request.user.is_authenticated %}
            <a href="{% url 'details' request.user.pk %}">Профил</a>
            <a href="{% url 'user-logout' %}"
                   onclick="event.preventDefault(); document.getElementById('logout-form').submit()">Изход</a>

                <form id="logout-form" method="post" action="{% url 'user-logout' %}" style="display: none;">
                    {% csrf_token %}
                </form>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</header>

