{% extends 'base.html' %}


{% block content %}
    {% include 'head.html' with bootstrap=True %}
    
    <div class="d-flex flex-column justify-content-center align-items-center">
    <section id="create-schedule" class=" p-2 m-5">
            <h2 class="text-center"> Редактирай мач</h2>
            <form id="create-schedule-form" method="post">
                {% csrf_token %}
                <h3 class="text-center"></h3>

                <h3 class="text-center py-2">Отбор</h3>
        <div id="monday" class="pb-3">
            <p class="text-center">{{ form.team_1.label }}<br>{{ form.team_1 }}</p>
            <p class="text-center">{{ form.team_1_emblem.label }}<br>{{ form.team_1_emblem }}</p>
            <p class="text-center">{{ form.use_team_1_profile_emblem.label }}<br>{{ form.use_team_1_profile_emblem }}
            </p>
        </div>

        <h3 class="text-center pb-2">Противник</h3>
        <div id="monday" class="pb-3">
            <p class="text-center">{{ form.team_2.label }}<br>{{ form.team_2 }}</p>
            <p class="text-center">{{ form.team_2_emblem.label }}<br>{{ form.team_2_emblem }}</p>
            <p class="text-center">{{ form.use_team_2_profile_emblem.label }}<br>{{ form.use_team_2_profile_emblem }}
            </p>
        </div>

        <h3 class="text-center pb-2">Информация</h3>
        <div id="monday" class="pb-3">
            <p class="text-center">{{ form.date.label }}<br>{{ form.date }}</p>
            <p class="text-center">{{ form.time.label }}<br>{{ form.time }}</p>
            <p class="text-center">{{ form.place.label }}<br>{{ form.place }}</p>
        </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" name="submit_form" class="btn px-5 py-2  btn-primary text-center">Редактирай мач
                    </button>
                </div>

            </form>
        </section>
    </div>

{% endblock %}