#display-club-emblem-image,
#display-coach-photo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

#display-coach-photo-image img{
    width: 75px;
    height: 75px;
    border-radius: 50%
}

#display-club-emblem-image img{
    width: 170px;
    height: auto;
}


#schedule-text h1 {
    margin: 0.5rem;
}




table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Ensure fixed column widths */
}

tr th{
    background-color: #295F98;
    color: whitesmoke;
}

tr.days{
    /*background-color: lightsteelblue;*/
    background-color: cornflowerblue;
}

tr.dates{
    /*background-color: cornflowerblue;*/
    background-color: lightsteelblue;
}

td.training{
    background-color: #aacd92;

}

td.mach{
    background-color: #D17A7A;
}

td.None{
    color: #ECEBDE;
}



th, td {
    /*background-color: darkgrey;*/
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    word-wrap: break-word; /* Prevent text from overflowing */
    vertical-align: middle; /* Center content vertically */
}


th {
    background-color: cornflowerblue;
}

td {
    max-width: 60px; /* Limit the width of the cells */
    min-width: 30px; /* Ensure cells are not too small */
}


#download-screenshot{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;/* Equivalent to py-2 (padding-bottom 8px) */
    margin: 4.5rem 0.5rem 0 0.5rem;         /* Equivalent to m-2 (margin 8px) */
    background-color: darkgrey; /* Primary color (btn-primary) */
    color: #ECEBDE;           /* Text color */
    font-size: 1rem;        /* Text size */
    border: none;           /* Remove border */
    border-radius: 0.25rem; /* Border radius to make it rounded */
    cursor: pointer;       /* Pointer cursor on hover */
    display: inline-block;  /* Align the button as inline block */
    text-align: center;     /* Text alignment inside the button */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

#download-screenshot:hover{
    background-color: #444444;
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto; /* Add horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }

    table {
        width: 100%; /* Make the table take full width */
        table-layout: auto; /* Let content decide table width */
    }

    th, td {
        padding: 5px; /* Adjust padding for better fit */
    }
}

/* For very small devices like mobile phones, adjust the table further */
@media (max-width: 480px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 12px; /* Smaller text size */
        padding: 3px; /* Smaller padding */
    }
}

