<section id="create-schedule" class=" p-2 m-5">
    <h2 class="text-center"> Създай Седмица</h2>
    <form id="create-schedule-form" method="post">
        {% csrf_token %}
        <h3 class="text-center">Начална дата</h3>
        <p class="text-center">{{ form.start_date }}</p>
        <h3 class="text-center">Понеделник</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.monday_type }}</p>
            <p class="text-center">Време: {{ form.monday_time }}</p>
            <p class="text-center">Място: {{ form.monday_place }}</p>
        </div>
        
        <h3 class="text-center">Вторник</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.tuesday_type }}</p>
            <p class="text-center">Време: {{ form.tuesday_time }}</p>
            <p class="text-center">Място: {{ form.tuesday_place }}</p>
        </div>
        
        <h3 class="text-center">Сряда</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.wednesday_type }}</p>
            <p class="text-center">Време: {{ form.wednesday_time }}</p>
            <p class="text-center">Място: {{ form.wednesday_place }}</p>
        </div>
        
        <h3 class="text-center">Четвъртък</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.thursday_type }}</p>
            <p class="text-center">Време: {{ form.thursday_time }}</p>
            <p class="text-center">Място: {{ form.thursday_place }}</p>
        </div>
        
        <h3 class="text-center">Петък</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.friday_type }}</p>
            <p class="text-center">Време: {{ form.friday_time }}</p>
            <p class="text-center">Място: {{ form.friday_place }}</p>
        </div>
        
        <h3 class="text-center">Събота</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.saturday_type }}</p>
            <p class="text-center">Време: {{ form.saturday_time }}</p>
            <p class="text-center">Място: {{ form.saturday_place }}</p>
        </div>
        
        <h3 class="text-center">Неделя</h3>
        <div id="monday" class="d-flex justify-content-around">
            <p class="">Вид: {{ form.sunday_type }}</p>
            <p class="text-center">Време: {{ form.sunday_time }}</p>
            <p class="text-center">Място: {{ form.sunday_place }}</p>
        </div>
{#        {{ form }}#}
        <div class="d-flex justify-content-center">
            <button type="submit" name="submit_form" class="btn px-5 py-2  btn-primary text-center">Създай седмица</button>
        </div>
    </form>
    </section>